@model Primera.Models.Ticket

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Ticket</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Vehiculo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Vehiculo.NoPlaca)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EspacioEstacionamiento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EspacioEstacionamiento.Estado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fecha_hora_entrada)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fecha_hora_entrada)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fecha_hora_salida)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fecha_hora_salida)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tarifa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tarifa.Descripcion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PagoTotal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PagoTotal)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id_Ticket">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
