@model IEnumerable<Primera.Models.Ticket>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Vehiculo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EspacioEstacionamiento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fecha_hora_entrada)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fecha_hora_salida)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tarifa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PagoTotal)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Vehiculo.NoPlaca)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EspacioEstacionamiento.Estado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fecha_hora_entrada)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fecha_hora_salida)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tarifa.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PagoTotal)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id_Ticket">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id_Ticket">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id_Ticket">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
